{% extends 'admin/base.html.twig' %}
{% block title %}New Tracteur{% endblock %}
{% block contenu %}


    <h1>Create new Tracteur</h1>

    {{ include('tracteur/_form.html.twig') }}

    <a href="{{ path('app_tracteur_index') }}">back to list</a>
{% endblock %}
