<!Doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Camions</title>
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5">Camions</h1>
      <table class="table mt-3">
        <thead>
          <tr>
            <th>Kilométrage</th>
            <th>Consommation de carburant</th>
          </tr>
        </thead>
        <tbody>
          {% for car in cars %}
            <tr>
              <td>{{ car.mileage }} km</td>
              <td>{{ car.fuelConsumption }} km/l</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      {% if standardDeviation is not null %}
        <p>Écart type: {{ standardDeviation }}</p>
      {% endif %}

      {% if remainingKilometers is not null %}
        <p>Kilomètres restants: {{ remainingKilometers }}</p>
      {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
