{% extends 'base.html.twig' %}

{% block title %}New Videnge{% endblock %}

{% block body %}
    <h1>Create new Videnge</h1>

    {{ include('videnge/_form.html.twig') }}

    <a href="{{ path('app_videnge_index') }}">back to list</a>
{% endblock %}
