{% extends 'base.html.twig' %}

{% block title %}Edit Inspecteur{% endblock %}

{% block body %}
    <h1>Edit Inspecteur</h1>

    {{ include('inspecteur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_inspecteur_index') }}">back to list</a>

    {{ include('inspecteur/_delete_form.html.twig') }}
{% endblock %}
