{# templates/truck/new.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}New Truck{% endblock %}

{% block body %}
    <div class="form-container">
        <div class="form-group">
            <h1>Create new Truck</h1>

            {{ include('truck/_form.html.twig', {'form': form}) }}

            <a href="{{ path('app_truck_index') }}">back to list</a>
        </div>
    </div>
{% endblock %}
