<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire de Contrôle Technique</title>
</head>
<body>
    <form>
        <h1>Formulaire de Contrôle Technique</h1>
<fieldset>
        <label for="marque">Marque :</label>
        <input type="text" id="marque" name="marque">

        <label for="modele">Modèle :</label>
        <input type="text" id="modele" name="modele">


        <label for="modele">SEB :</label>
        <input type="text" id="SEB" name="SEB">

        <label for="modele">IT :</label>
        <input type="text" id="IT" name="IT">

        <label for="modele">SEB berne :</label>
        <input type="text" id="seb berne" name="berne"><br><br>



        <label for="horometre">Horomètre :</label>
        <input type="text" id="horometre" name="horometre">

        <label for="vin">VIN :</label>
        <input type="text" size="50" id="vin" name="vin">

        <label for="km">Km :</label>
        <input type="text" id="km" name="km"><br><br>

        <label for="date">Date de contrôle :</label>
        <input type="date" id="date" name="date">

        <label for="heure">Heure de contrôle :</label>
        <input type="time" id="heure" name="heure">

        <label for="site">Site :</label>
        <input type="text" id="site" name="site"><br><br>

        <label for="controleur">Contrôle effectué par :</label>
        <input type="text" id="controleur" name="controleur">

        
    </fieldset>
        <h2>Éclairage et signalisation</h2>
        <label>Feux plaque immatriculation</label>
        <input type="radio" id="feux-multi-bon" name="feux-multi" value="bon">
        <label for="feux-multi-bon">Bon</label>
        <input type="radio" id="feux-multi-mal" name="feux-multi" value="mal">
        <label for="feux-multi-mal">Mal</label><br>

        <label>Témoin de veille batterie (présence)</label>
        <input type="radio" id="feux-batterie-bon" name="feux-batterie" value="bon">
        <label for="feux-batterie-bon">Bon</label>
        <input type="radio" id="feux-batterie-mal" name="feux-batterie" value="mal">
        <label for="feux-batterie-mal">Mal</label><br>

        <label>Feux clignotant G et D</label>
        <input type="radio" id="feux-clignotant-bon" name="feux-clignotant" value="bon">
        <label for="feux-clignotant-bon">Bon</label>
        <input type="radio" id="feux-clignotant-mal" name="feux-clignotant" value="mal">
        <label for="feux-clignotant-mal">Mal</label><br>


        <label>Feux stop</label>
        <input type="radio" id="feux-stop-bon" name="feux-stop" value="bon">
        <label for="feux-stop-bon">Bon</label>
        <input type="radio" id="feux-stop-mal" name="feux-stop" value="mal">
        <label for="feux-stop-mal">Mal</label><br>

        <label>Feux de position</label>
        <input type="radio" id="feux-position-bon" name="feux-position" value="bon">
        <label for="feux-position-bon">Bon</label>
        <input type="radio" id="feux-position-mal" name="feux-position" value="mal">
        <label for="feux-position-mal">Mal</label><br>


        <label>Feux de croisement</label>
        <input type="radio" id="feux-croisement-bon" name="feux-croisement" value="bon">
        <label for="feux-croisement-bon">Bon</label>
        <input type="radio" id="feux-clignotant-mal" name="feux-croisement" value="mal">
        <label for="feux-croisement-mal">Mal</label><br>

        <label>Feux de recul</label>
        <input type="radio" id="feux-recul-bon" name="feux-recul" value="bon">
        <label for="feux-recul-bon">Bon</label>
        <input type="radio" id="feux-recul-mal" name="feux-recul" value="mal">
        <label for="feux-recul-mal">Mal</label><br>

        <label>Feux de gabarit</label>
        <input type="radio" id="feux-gabarit-bon" name="feux-gabarit" value="bon">
        <label for="feux-gabarit-bon">Bon</label>
        <input type="radio" id="feux-gabarit-mal" name="feux-gabarit" value="mal">
        <label for="feux-gabarit-mal">Mal</label><br>






        <label>Feux antibrouillard av et ar</label>
        <input type="radio" id="feux-antibrouillard-bon" name="feux-antibrouillard" value="bon">
        <label for="feux-antibrouillard-bon">Bon</label>
        <input type="radio" id="feux-antibrouillard-mal" name="feux-antibrouillard" value="mal">
        <label for="feux-antibrouillard-mal">Mal</label><br>

        <label>Gyrophare</label>
        <input type="radio" id="Gyrophare-bon" name="Gyrophare" value="bon">
        <label for="Gyrophare-bon">Bon</label>
        <input type="radio" id="Gyrophare-mal" name="Gyrophare" value="mal">
        <label for="Gyrophare-mal">Mal</label><br>

        <label>Eclairage interieur cabine</label>
        <input type="radio" id="Eclairage-bon" name="Eclairage" value="bon">
        <label for="Eclairage-bon">Bon</label>
        <input type="radio" id="Eclairage-mal" name="Eclairage" value="mal">
        <label for="Eclairage-mal">Mal</label><br>

        <label>Klaxon</label>
        <input type="radio" id="Klaxon-bon" name="Klaxon" value="bon">
        <label for="Klaxon-bon">Bon</label>
        <input type="radio" id="Klaxon-mal" name="Klaxon" value="mal">
        <label for="Klaxon-mal">Mal</label><br>


        <label>Eclairage tableau de bord</label>
        <input type="radio" id="Eclairagetableau-bon" name="Eclairagetableau" value="bon">
        <label for="Eclairagetableau-bon">Bon</label>
        <input type="radio" id="Eclairagetableau-mal" name="Eclairagetableau" value="mal">
        <label for="Eclairagetableau-mal">Mal</label><br>


        <!-- Continuez à ajouter les autres éléments de contrôle -->

        <h2>Suspension</h2>
        <label>Amortisseur hydraulique</label>
        <input type="radio" id="amortisseur-hydro-bon" name="amortisseur-hydro" value="bon">
        <label for="amortisseur-hydro-bon">Bon</label>
        <input type="radio" id="amortisseur-hydro-mal" name="amortisseur-hydro" value="mal">
        <label for="amortisseur-hydro-mal">Mal</label><br>

        <label>Lame ressort essieux av</label>
        <input type="radio" id="barre-torsion-bon" name="barre-torsion" value="bon">
        <label for="barre-torsion-bon">Bon</label>
        <input type="radio" id="barre-torsion-mal" name="barre-torsion" value="mal">
        <label for="barre-torsion-mal">Mal</label><br>

        <label>Ressort de suspension</label>
        <input type="radio" id="ressort-suspension-bon" name="ressort-suspension" value="bon">
        <label for="ressort-suspension-bon">Bon</label>
        <input type="radio" id="ressort-suspension-mal" name="ressort-suspension" value="mal">
        <label for="ressort-suspension-mal">Mal</label><br>


        <label>Lame ressort 2 essieux avant</label>
    <input type="radio" id="lame-ressort-av-bon" name="lame-ressort-av" value="bon">
    <label for="lame-ressort-av-bon">Bon</label>
<input type="radio" id="lame-ressort-av-mal" name="lame-ressort-av" value="mal">
<label for="lame-ressort-av-mal">Mal</label><br>

<label>Barre de stabilité avant</label>
<input type="radio" id="barre-stabilite-av-bon" name="barre-stabilite-av" value="bon">
<label for="barre-stabilite-av-bon">Bon</label>
<input type="radio" id="barre-stabilite-av-mal" name="barre-stabilite-av" value="mal">
<label for="barre-stabilite-av-mal">Mal</label><br>

<label>Biellette barre stabilisatrice avant</label>
<input type="radio" id="biellette-barre-stab-av-bon" name="biellette-barre-stab-av" value="bon">
<label for="biellette-barre-stab-av-bon">Bon</label>
<input type="radio" id="biellette-barre-stab-av-mal" name="biellette-barre-stab-av" value="mal">
<label for="biellette-barre-stab-av-mal">Mal</label><br>


<label>Butée de débattement</label>
<input type="radio" id="butee-debattement-bon" name="butee-debattement" value="bon">
<label for="butee-debattement-bon">Bon</label>
<input type="radio" id="butee-debattement-mal" name="butee-debattement" value="mal">
<label for="butee-debattement-mal">Mal</label><br>

<label>Lame ressort arrière</label>
<input type="radio" id="lame-ressort-ar-bon" name="lame-ressort-ar" value="bon">
<label for="lame-ressort-ar-bon">Bon</label>
<input type="radio" id="lame-ressort-ar-mal" name="lame-ressort-ar" value="mal">
<label for="lame-ressort-ar-mal">Mal</label><br>

<label>Tampon de lame arrière</label>
<input type="radio" id="tampon-lame-ar-bon" name="tampon-lame-ar" value="bon">
<label for="tampon-lame-ar-bon">Bon</label>
<input type="radio" id="tampon-lame-ar-mal" name="tampon-lame-ar" value="mal">
<label for="tampon-lame-ar-mal">Mal</label><br>

<label>Étrier de lame (bride)</label>
<input type="radio" id="etrier-lame-bride-bon" name="etrier-lame-bride" value="bon">
<label for="etrier-lame-bride-bon">Bon</label>
<input type="radio" id="etrier-lame-bride-mal" name="etrier-lame-bride" value="mal">
<label for="etrier-lame-bride-mal">Mal</label><br>

<label>Vis de serrage anneau accouplement</label>
<input type="radio" id="vis-serrage-anneau-accouplement-bon" name="vis-serrage-anneau-accouplement" value="bon">
<label for="vis-serrage-anneau-accouplement-bon">Bon</label>
<input type="radio" id="vis-serrage-anneau-accouplement-mal" name="vis-serrage-anneau-accouplement" value="mal">
<label for="vis-serrage-anneau-accouplement-mal">Mal</label><br>

<label>Cric de levage cabine</label>
<input type="radio" id="cric-levage-cabine-bon" name="cric-levage-cabine" value="bon">
<label for="cric-levage-cabine-bon">Bon</label>
<input type="radio" id="cric-levage-cabine-mal" name="cric-levage-cabine" value="mal">
<label for="cric-levage-cabine-mal">Mal</label><br>

<label>Amortisseur cabine avant</label>
<input type="radio" id="amortisseur-cabine-av-bon" name="amortisseur-cabine-av" value="bon">
<label for="amortisseur-cabine-av-bon">Bon</label>
<input type="radio" id="amortisseur-cabine-av-mal" name="amortisseur-cabine-av" value="mal">
<label for="amortisseur-cabine-av-mal">Mal</label><br>

<label>Amortisseur cabine arrière</label>
<input type="radio" id="amortisseur-cabine-ar-bon" name="amortisseur-cabine-ar" value="bon">
<label for="amortisseur-cabine-ar-bon">Bon</label>
<input type="radio" id="amortisseur-cabine-ar-mal" name="amortisseur-cabine-ar" value="mal">
<label for="amortisseur-cabine-ar-mal">Mal</label><br>

<label>Vérin essieux 2 avant</label>
<input type="radio" id="verin-essieux-2-av-bon" name="verin-essieux-2-av" value="bon">
<label for="verin-essieux-2-av-bon">Bon</label>
<input type="radio" id="verin-essieux-2-av-mal" name="verin-essieux-2-av" value="mal">
<label for="verin-essieux-2-av-mal">Mal</label><br>

<label>Tiran de stabilisation (état)</label>
<input type="radio" id="tiran-stabilisation-etat-bon" name="tiran-stabilisation-etat" value="bon">
<label for="tiran-stabilisation-etat-bon">Bon</label>
<input type="radio" id="tiran-stabilisation-etat-mal" name="tiran-stabilisation-etat" value="mal">
<label for="tiran-stabilisation-etat-mal">Mal</label><br>

<label>Triangle stabilisateur (état)</label>
<input type="radio" id="triangle-stabilisateur-etat-bon" name="triangle-stabilisateur-etat" value="bon">
<label for="triangle-stabilisateur-etat-bon">Bon</label>
<input type="radio" id="triangle-stabilisateur-etat-mal" name="triangle-stabilisateur-etat" value="mal">
<label for="triangle-stabilisateur-etat-mal">Mal</label><br>


        <!-- Continuez à ajouter les autres éléments de contrôle -->

        

        <!-- Continuez à ajouter les autres éléments de contrôle -->

        <h2>Observations</h2>
        <textarea id="observations" name="observations" rows="4" cols="50"></textarea><br><br>

        <label for="manager">Le Manager Opérations</label><br><br>

        <label for="nom">Nom :</label>
        <input type="text" id="nom" name="nom"><br><br>

        <label for="signature-manager">Signature :</label>
        <input type="text" id="signature-manager" name="signature-manager"><br><br>

        <input type="submit" value="Soumettre">
    </form>
</body>
</html>