{% extends 'admin/base.html.twig' %}
{% block title %}Edit TypeCamion{% endblock %}
{% block contenu %}


    <h1>Edit TypeCamion</h1>

    {{ include('type_camion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_type_camion_index') }}">back to list</a>

    {{ include('type_camion/_delete_form.html.twig') }}
{% endblock %}
