{% extends 'admin/base.html.twig' %}
{% block title %}New TypeCamion{% endblock %}
{% block contenu %}


    <h1>Create new TypeCamion</h1>

    {{ include('type_camion/_form.html.twig') }}

    <a href="{{ path('app_type_camion_index') }}">back to list</a>
{% endblock %}
